on:
  push:
    branches:
      - main

permissions: write-all

jobs:

  ######################################
  ##### CREATE CHANGELOG AND BUILD #####
  ######################################

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        lfs: "true"

    - name:  Create notes
      run: |
        touch cl
        echo "this is a new line\n" > cl

    - name:  Append changelog
      run: |
        sed -i '1d' docs/changelog.md
        cat cl docs/changelog.md > tmp_file
        mv tmp_file docs/changelog.md

    - name:  Checkout main branch for PR
      run: git checkout main

    - name:  Force git lfs
      run: |
        git lfs uninstall
        git reset --hard
        git lfs install
        git lfs pull
        git restore **/*.png
    - name:  Create PR for changelog
      uses: peter-evans/create-pull-request@v6
      with:
        branch: changelog/patch
        title:  Prepend latest changelog
        body: Automated changelog changes by GitHub action.
        labels: meta
        assignees: daniellanner
        reviewers: daniellanner
        add-paths: |
            docs/changelog.md
